.user-dashboard-page {
  display: grid;
  height: 100%;
  grid-template-areas:
    " aside navbar "
    " aside content ";
  grid-template-columns: 60px auto;
  grid-template-rows: 10vh auto;
  gap: 2rem;
}

.user-sidebar {
  grid-area: aside;
  background-color: var(--color-2);
}

.user-navbar {
  grid-area: navbar;
  background-color: var(--color-2);
}

.user-content {
  grid-area: content;
  background-color: var(--color-2);
}

.user-sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem 0;
}

.user-sidebar-list .icon {
  width: 100%;
  width: 30px;
  height: 30px;
  /* margin: 0 auto; */
}

.user-navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-navbar-profile {
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--color-1);
  padding: 0 1rem;
}

.user-content {
  /* padding: 1rem; */
  background-color: var(--color-1);
}

.user-content-up {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.user-content-card {
  border-radius: 5px;
  background-color: var(--color-2);
  height: 250px;
  padding: 1rem;
}

.user-navbar-profile-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-1);
}

.user-navbar-profile-names {
}

.user-content-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-content-current-time {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 2rem;
  padding: 1rem;
}

.user-content-current-time p {
  font-size: 2rem;
}

.sun-icon {
  width: 100px;
  height: 100px;
}

.user-in-time {
  color: var(--color-green);
}

.admin-content-intime {
  color: var(--color-green);
}

.admin-content-outtime {
  color: var(--color-red);
}
